<div class="text-center container" style="width:50%;">
    <div class="row mt-5">
        <div class="col mx-auto">
            <h2 style="color: gray;">Fun Facts About Countries</h2>
        </div>
    </div>
    <div class="row">
        <div class="col mx-auto mt-4">
            <p>
                <a routerLink="/home" class="btn btn-dark me-2">Go Back to Homepage</a>
                <a routerLink="/allcountries" class="btn btn-dark">List of All Countries</a>
            </p>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>